<!doctype html>
<html>
<head>
    <title>Explore Irony</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


</head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<body>
<h2><a href='/ironic'> Ironic </a><a href='/sincere'> Sincere </a><a href='/other'> Other </a></h2>

<ul class="ironic_tweets">
  {{#each Tweets}}
  <li>{{this}}</li>
  {{/each}}
</ul>


</body>
<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>

<script>

</script>
</body>
</html>
